# --- Database Configuration ---
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=decoraciones
DB_PORT_OUT=5433
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/decoraciones


# --- Redis Configuration ---
REDIS_PORT_OUT=6379

# --- Backend Spring Boot Configuration ---
BACKEND_PORT_OUT=8080
# URL base pública del backend accedida por el cliente. Reemplazar "localhost" por la IP/DNS pública del EC2.
APP_BASE_URL=http://localhost/api

# Resend API Key para envío de correos
RESEND_API_KEY=api_key
RESEND_FROM_EMAIL=onboarding@resend.dev

# Configuración SMTP alternativa para envío de correos
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=asda asfga asafa gasg asaf

# Orígenes CORS permitidos (separados por coma)
APP_CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:4200,http://127.0.0.1:4200

# Configuración del servidor de correo
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587

# Tiempos de bloqueo para reservas
APP_RESERVA_LOCK_TTL_MINUTES=15

# Configuración de almacenamiento local (rutas en el contenedor)
BASE_STORAGE_PATH=/app
APP_UPLOAD_DIR=/app/uploads

# --- FastAPI IA Configuration ---
IA_PORT_OUT=8003

# --- Frontend Configuration ---
FRONTEND_PORT_OUT=80

