# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres

# Resend API Configuration
# Obtén tu API Key en https://resend.com
RESEND_API_KEY=re_123456789

# Frontend Configuration
FRONTEND_URL=http://localhost:4200

RESEND_FROM_EMAIL=onboarding@resend.dev

MAIL_USERNAME=tucuenta@gmail.com
MAIL_PASSWORD=abcd efgh ijkl mnop
